.NewOrders {
  width: 100%;
}

.orders {
  width: 80%;
  border: 1px solid black;
  padding: 16px;
  margin: 32px auto;
}

.order {
  width: auto;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  margin: 16px auto;
}
